<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
</head>
<body>
    <form method="POST" action="/registro">
        <br>
        <label>
            ingrese su nombre:
        </label>
        <br><br>
        <input type="texto" name="estudiante">
        <br><br>
        <label>
            ingrese su correo :
        </label>
        <br><br>
        <input type="email" name="correo">
        <br><br>
        <label>
            ingrese su password :
        </label>
        <br><br>
        <input type="password" name="contrasena">
        <br><br>
        <button type="submit">
            MATRICULAR ESTUDIANTE
        </button>

    </form>
{{ lsitado }}
</body>
</html>